.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 10%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  clip-path: polygon(100% 0, 100% 40%, 87% 100%, 0 100%, 0 60%, 15% 0);
}

.box:before {
  content: '';
  clip-path: polygon(100% 0, 100% 40%, 87% 100%, 0 100%, 0 60%, 15% 0);
  position: absolute;
  top: 0;
  left: -500px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  transition: 1s;
}

.box:hover:before {
  left: 500px;
  background: rgba(255, 255, 255, 0.2);
  clip-path: polygon(100% 0, 100% 40%, 87% 100%, 0 100%, 0 60%, 15% 0);
}

.btn {
  clip-path: polygon(100% 0, 100% 40%, 87% 100%, 0 100%, 0 60%, 15% 0);
  cursor: pointer;
  z-index: 1111;
}

.modal {
  background-color: #fff;
  width: 500px;
  height: 600px;
  border-radius: 15px;
  padding: 20px;
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11111;
}

.accordion {
  width: 81.62px;
  height: 375px;
  margin-right: 20px;
  border: 1px solid #EF8A01;
  z-index: 11111;
  cursor: pointer;
}


@media screen and (min-width: 925px) {
  .accordion {
    width: 60px;
    height: 220px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .accordion {
    width: 60px;
    height: 250px;
    margin-right: 10px;
    border: 1px solid #EF8A01;
  }
}

@media screen and (min-width: 1280px) {
  .accordion {
    width: 81.62px;
    height: 270px;
    margin-right: 20px;
    border: 1px solid #EF8A01;

  }
}

@media screen and (min-width: 1850px) {
  .accordion {
    width: 81.62px;
    height: 375px;
    margin-right: 20px;
    border: 1px solid #EF8A01;

  }
}

.frameExpanded {
  height: 2260px;
}

.frameColapsed {
  height: 1300px;
}


.expanded {
  width: 621px;
  height: 375px;
  background: 'transparent';
  margin-right: 20px;
  border: 1px solid #EF8A01;
  z-index: 11111;
  cursor: pointer;
}

@media screen and (min-width: 925px) {
  .expanded {
    width: 425px;
    height: 220px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .expanded {
    width: 425px;
    height: 250px;
    margin-right: 10px;
    border: 1px solid #EF8A01;
  }
}

@media screen and (min-width: 1280px) {
  .expanded {
    width: 550px;
    height: 270px;
    background: 'transparent';
    margin-right: 20px;
    border: 1px solid #EF8A01;
    cursor: pointer;

  }
}

@media screen and (min-width: 1850px) {
  .expanded {
    width: 621px;
    height: 375px;
    background: 'transparent';
    margin-right: 20px;
    border: 1px solid #EF8A01;
    cursor: pointer;
  }
}







/* @media screen and (max-width: 768px) {
  .expanded {
    width: 181.52px;
    height: 225.57px;
    margin-right: 10px;
    z-index: 11111;
  }
} */


/*MobileAccordion*/
.accordionMobile {
  height: 34.25px;
  width: 225.57px;
  margin-bottom: 10px;
  border: 1px solid #EF8A01;
  padding: 5px
}

.mobileExpanded {
  height: 181.52px;
  width: 225.57px;
  background: 'transparent';
  margin-bottom: 10px;
  border: 1px solid #EF8A01;
  padding: 8px
}



.zIndex {
  z-index: 1111;
}

.test {
  transition: width 350ms ease-out 0s;
}


.wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #EF8A01;
}

.youtube .ytp-title-text {
  display: none;
}